In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/cars.csv")

In [4]:
print(df.head())

    Make           Model   Type Origin DriveTrain      MSRP   Invoice  \
0  Acura             MDX    SUV   Asia        All  $36,945   $33,337
1  Acura  RSX Type S 2dr  Sedan   Asia      Front  $23,820   $21,761
2  Acura         TSX 4dr  Sedan   Asia      Front  $26,990   $24,647
3  Acura          TL 4dr  Sedan   Asia      Front  $33,195   $30,299
4  Acura      3.5 RL 4dr  Sedan   Asia      Front  $43,755   $39,014

   EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  \
0         3.5        6.0       265.0      17.0         23.0  4451.0
1         2.0        4.0       200.0      24.0         31.0  2778.0
2         2.4        4.0       200.0      22.0         29.0  3230.0
3         3.2        6.0       270.0      20.0         28.0  3575.0
4         3.5        6.0       225.0      18.0         24.0  3880.0

   Wheelbase  Length
0      106.0   189.0
1      101.0   172.0
2      105.0   183.0
3      108.0   186.0
4      115.0   197.0

In [6]:
print(df.isnull().sum())

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [8]:
df.fillna(df.mean(), inplace=True)
print(df.isnull().sum())

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

<ipython-input-8-0a51bc71922c>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [10]:
print(df['Make'].unique())

['Acura' 'Audi' 'BMW' nan 'Buick' 'Cadillac' 'Chevrolet' 'Chrysler'
 'Dodge' 'Ford' 'GMC' 'Honda' 'Hummer' 'Hyundai' 'Infiniti' 'Isuzu'
 'Jaguar' 'Jeep' 'Kia' 'Land Rover' 'Lexus' 'Lincoln' 'MINI' 'Mazda'
 'Mercedes-Benz' 'Mercury' 'Mitsubishi' 'Nissan' 'Oldsmobile' 'Pontiac'
 'Porsche' 'Saab' 'Saturn' 'Scion' 'Subaru' 'Suzuki' 'Toyota' 'Volkswagen'
 'Volvo']

In [12]:
print(df['Make'].value_counts())

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

In [16]:
print(df[(df['Origin'] =="Aisa")| (df['Origin']=='Europe')])

      Make                      Model   Type  Origin DriveTrain      MSRP  \
7     Audi                A4 1.8T 4dr  Sedan  Europe      Front  $25,940
8     Audi     A41.8T convertible 2dr  Sedan  Europe      Front  $35,940
9     Audi                 A4 3.0 4dr  Sedan  Europe      Front  $31,840
10    Audi  A4 3.0 Quattro 4dr manual  Sedan  Europe        All  $33,430
11    Audi    A4 3.0 Quattro 4dr auto  Sedan  Europe        All  $34,480
..     ...                        ...    ...     ...        ...       ...
427  Volvo    C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo    C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo                 S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                        V40  Wagon  Europe      Front  $26,135
431  Volvo                       XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
7    $23,508          1.8        4.0       170.0      22.0         31.0
8    $32,506          1.8        4.0       170.0      23.0         30.0
9    $28,846          3.0        6.0       220.0      20.0         28.0
10   $30,366          3.0        6.0       220.0      17.0         26.0
11   $31,388          3.0        6.0       220.0      18.0         25.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
7    3252.0      104.0   179.0
8    3638.0      105.0   180.0
9    3462.0      104.0   179.0
10   3583.0      104.0   179.0
11   3627.0      104.0   179.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[123 rows x 15 columns]

In [19]:
df = df[df['Weight'] <= 4000]

In [23]:
df_copy = df.copy()
df_copy['MPG_City'] += 3